* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  background-color: #858693;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-color: grey;
}

.output {
  height: 20%;
  padding: 0 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightslategray;
  color: white;
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  margin-top: 1px;
}

.grid-item {
  border: none;
  height: 80px;
  font-size: 25px;
  background-color: #efefef;
}

.span-2-col {
  grid-column: 1 / span 2;
}

.bg-orange {
  background-color: orange;
}
